# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

# YAML & JSON use 2 spaces
[*.{yml,yaml,json}]
indent_size = 2

# Go uses tabs natively
[*.go]
indent_style = tab
indent_size = 4

# Makefile uses tabs natively
[Makefile]
indent_style = tab
indent_size = 4

# Markdown formatting
[*.md]
trim_trailing_whitespace = false
